<IfModule mod_rewrite.c>
  RewriteEngine On
  # Set the base path if your app is not in the root directory (e.g., RewriteBase /my-app/)
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>